/* Reset */
*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition-duration:2s;
}
/* Root font size */
html {
   font-size: 16px;
   scroll-behavior: smooth;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
   background:black;
}
/* Images */
img {
   display: block;
   max-width: 100%;
}
/* Lists */
ul, ol {
   list-style: none;
   padding-left: 0;
}
/* Focus styles */
:focus:not(:focus-visible) {
   outline: none;
}
/* Interactive elements */
button, label, select, [type="checkbox"], [type="radio"] {
   cursor: pointer;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #96268B #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #96268B;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FA0FCB;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FA0303;
}






header{max-width:1280px;height:8vh;margin:auto;margin-top:1vh;background:transparent;}
.nav{width:100%;height:6vh;background-image:linear-gradient(130deg,red 70%,purple 30%);padding:1px;border-radius:2vw;}


.logo-container{width:6vw;height:5vh;background:none;margin-left:1vw;margin-top:-1vh;float:left;}
.logo-image{width:100%;height:auto;}
.bmenu-image{width:100%;height:auto;}
.burger-menu{width:4vw;height:5vh;background:none;margin-right:1vw;  margin-top:.3vh;float:right;}
.menu-block{position:absolute;width:10vw;height:8vh;right:5vw;top:2vh;background:white;display:none;}
#menutext{display:block;text-decoration:none;text-align:center;font-weight:bold;background:black;color:white;font-size:1rem;margin:1vh;}

.main{max-width:1280px;height:230vh;margin:auto;margin-bottom:2vh;padding:1vw;background-image:linear-gradient(-130deg,transparent 40%,red 30%,purple 20%);}
.banner-container{width:80%;margin:auto;height:50vh;background:none;margin-top:1vh;margin-bottom:1vh;}
.banner-image{width:auto;height:100%;margin:auto;}
.separator{height:2px;width:30vw;margin:auto;background:silver;}
.multiple-choice-container{width:80%;margin:auto;height:30vh;background:none;padding-left:2vw;}
.brand{width:100%;height:auto;}
.choice-name{color:black;font-size:1rem;text-align:center;font-weight:1000;margin-top:1vh;display:none;}
.item-choices{width:10vw;height:10vh;background:black;margin:1vw;display:inline;float:left;border-radius:1vw;padding:0;box-shadow:2px 2px 2px white;}
.product-offer-section{width:98%;background:none;height:90vh;margin:auto;margin-top:7vh;}
.items-container{width:70%;height:100%;display:inline;float:left;
background-image:linear-gradient(130deg,transparent 70%,red 40%);overflow:hidden;overflow-y:auto;padding:1vw;padding-top:5vh;padding-left:10vw;}
.offers-container{width:30%;height:100%;display:inline;float:left;background:none;overflow:hidden;padding:2vw;}
.item-offers{width:15vh;height:18vh;background-image:linear-gradient(130deg,green 70%,red 40%);display:inline;float:left;margin:1vh;position:relative;}
.offers{width:25vw;height:85vh;margin:auto;background:white;background-image:url("banner2.png");background-size:cover;background-position:center;background-repeat:no-repeat;}
.subpage-portals{width:90%;height:30vh;background-image:linear-gradient(130deg,transparent 70%,red 40%);margin:auto;margin-top:10vh;padding-left:10vw;padding-top:8vh;box-shadow:2px 2px 2px black;}
.portals{width:20vw;height:10vh;display:inline;float:left;background:red;margin:1vw;border-radius:1vw;padding:2vw;box-shadow:2px 2px 5px black;}
#portal-buttons{font-size:2rem;margin-top:1vh;display:block;}
.items-itself{width:100%;height:auto;}
.price{color:red;background:yellow;width:8vw;height:2vh;font-weight:1000;text-align:center;border-radius:0 1vw 0 0;position:absolute;left:0;bottom:0;}
.footer{max-width:1280px;height:10vh;background-image:linear-gradient(130deg,red 70%,purple 30%);margin:auto;}
.subpage_banner{background:none;width:80%;height:50vh;margin:auto;}
.banner_sub{width:auto;height:100%;margin:auto;transition-duration:2s;}
.banner_image{width:auto;height:100%;}
.subpage_sticker_ideas{margin:auto;width:90%;height:170vh;background:none;padding:3vw;overflow-y:auto;}
.image-conts{width:22vw;height:30vh;background:black;display:inline;float:left;margin:2vw;overflow:hidden;}
.sticker_images{width:auto;height:100%;margin:auto;}

/*<=400  meaning it applies to 375*/
@media(max-width:400px){
	.main{background:black;}
	.logo-container{width:15vw;height:6vh;margin-top:-1vh;background:none;}
	.burger-menu{width:6vw;margin-top:1.5vh;background:none;}
	.banner-container{width:100%;background:none;height:40vh;margin-bottom:1vh;}
	.multiple-choice-container{width:100%;padding-left:6vw;background:none;padding-left:10vw;}
	.separator{margin-top:1vh;height:2px;width:50%;}
	.item-choices{width:18vw;height:8vh;}
	.item-container{height:60%;display:block;width:100vw;}
	.item-offers{width:25vw;}
	.offers-container{height:20%;width:100%;display:block;margin-top:2vh;}
	.items-container{height:80%;display:block;width:100%;overflow-y:auto;padding-left:1vw;padding-top:1vh;background:black;
	background-image:linear-gradient(-130deg,purple 70%,transparent 70%);border-radius:1vw;}
	.offers{width:90%;height:95%;background-image:url("banner1.png");background-size:cover;background-position:center;background-repeat:no-repeat;}
	.subpage-portals{margin-top:10vh;height:20vh;background:transparent;margin-left:5vw;}
	.product-offer-section{background:transparent;}
	.portals{height:10vh;width:22vw;}
	#portal-buttons{font-size:1rem;margin-top:1.5vh;}
	.choice-name{margin-top:2.5vh;color:black; font-family:Brush Script MT;}
	.price{height:3vh;width:14vw;}
	.subpage_banner{width:100%;height:40vh;}
	.image-conts{width:35vw;background:white;height:25vh;}
	.subpage_sticker_ideas{padding-left:4vw;}
	.menu-block{width:20vw;right:8vw;height:15vh;}

} 
@media(min-width:300px){
	
}
	